:root {
  --green: #2b4d3f;
  --beige: #f7f3ef;
  --radius: 12px;
  --shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  --error-color: #e74c3c;
  --yellow: #f7c843;
  --yellow-hover: #ffda5c;
}
.guide-page {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  margin: 0;
  padding: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--green);
}

/* Sidebar */
.guide-sidebar {
  flex: 0 0 260px;
  position: sticky;
  top: 20px;
  background: var(--beige);
  border-radius: 0;
  padding: 20px;
  box-shadow: var(--shadow);
  max-height: calc(100vh - 40px); 
  overflow-y: auto;
  transition: all 0.2s ease;
}

.guide-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: left;
}

.guide-menu li {margin-bottom: 8px;}

.guide-menu li a {
  text-decoration: none;
  color: var(--green);
  font-weight: 600;
  display: block;
  padding: 10px 15px;
  border-radius: 0;
  transition: all 0.2s;
}

.guide-menu li a:hover,
.guide-menu li a.active {
  background-color: var(--yellow-hover);
}

/* Nội dung chính */
.guide-content {
  flex: 1;
  overflow-x:hidden;
  color: #000;
}

.guide-content section {
  margin-bottom: 60px;
  text-align: justify;
}

.guide-content section h2 {
  font-size: 26pt;
  margin-bottom: 12px;
  color: var(--green);
}

.guide-image {
  display: flex;
  justify-content: center;
  margin: 30px 0 40px 0;
}

.guide-image img {
    width: 85%;
    height: auto;
    transition: transform 0.3s ease;
}

.guide-image img:hover {
  transform: scale(1.02);
}

/* Khung hướng dẫn chi tiết */
.guide-steps {
  background: #ffffff;
  padding: 30px 40px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  line-height: 1.8;
  font-size: 17px;
  max-width: 900px;
  margin: 0 auto;
}

.guide-steps ol {
  padding-left: 20px;
}

.guide-steps li {
  margin-bottom: 12px;
}

.guide-steps b {
  color: var(--green);
}

#faq div,
#hotro div {
  background: var(--white);
  padding: 35px 45px;
  line-height: 1.8;
  box-shadow:none;
  font-size: 17px;
  max-width: 950px;
  margin: 0 auto;
}

#faq h3 {
  margin-top: 25px;
  font-size: 20px;
}

#hotro a {
  text-decoration: none;
  color: var(--green);
}
